<ul>
    <% if (currentUser) { %>
      <span>Welcome <%=currentUser.username%> !</span>
      <span>
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Log Out" />
        </form>
      </span>
    <% } else { %>
      <li><a href="/users/new">Sign Up</a></li>
      <li><a href="/sessions/new">Log In</a></li>
    <% } %>
  </ul>
  